<section class="container">
  <section class="header">
    <p class="header__title">Lista de Produtos</p>
  </section>

  <section class="body">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 body__table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Id</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">
          Tipo Produto
        </th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          <ng-container *ngIf="editingProductId === element.id; else viewMode">
            <mat-form-field>
              <input
                matInput
                placeholder="Digite o tipo do produto"
                required
                [(ngModel)]="element.tipo"
              />
            </mat-form-field>
          </ng-container>
          <ng-template #viewMode>
            {{ element.tipo }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">
          Nome Produto
        </th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          <ng-container *ngIf="editingProductId === element.id; else viewMode">
            <mat-form-field>
              <input
                matInput
                placeholder="Digite o nome do produto"
                required
                [(ngModel)]="element.nome"
              />
            </mat-form-field>
          </ng-container>
          <ng-template #viewMode>
            {{ element.nome }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Valor</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          <ng-container *ngIf="editingProductId === element.id; else viewMode">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Valor do produto"
                required
                [(ngModel)]="element.valor"
              />
            </mat-form-field>
          </ng-container>
          <ng-template #viewMode>
            {{ element.valor | currency : "R$" }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">
          Estoque
        </th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          <ng-container *ngIf="editingProductId === element.id; else viewMode">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Quantidade em estoque"
                required
                [(ngModel)]="element.estoque"
              />
            </mat-form-field>
          </ng-container>
          <ng-template #viewMode>
            {{ element.estoque }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Ações</th>
        <ng-container *ngIf="isAuthenticated">
          <td mat-cell *matCellDef="let element" class="body__table__td">
            <ng-container
              *ngIf="editingProductId === element.id; else editMode"
            >
              <button mat-icon-button (click)="saveEdit(element)">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
            </ng-container>
            <ng-template #editMode>
              <button mat-icon-button (click)="startEdit(element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteProduct(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</section>
