<section class="container">
  <section class="header">
    <p class="header__title">Lista de Produtos</p>

    <!-- Campo de busca por Nome -->
    <mat-form-field>
      <input matInput placeholder="Buscar por nome" [(ngModel)]="nomeFiltro" (input)="applyFilter()">
    </mat-form-field>

    <!-- Campo de busca por Tipo -->
    <mat-form-field>
      <input matInput placeholder="Buscar por tipo" [(ngModel)]="tipoFiltro" (input)="applyFilter()">
    </mat-form-field>
  </section>

  <section class="body">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 body__table"
    >
      <!-- Colunas da tabela permanecem as mesmas -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Id</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Tipo Produto</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">{{ element.tipo }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Nome Produto</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Valor</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">{{ element.valor | currency : "R$" }}</td>
      </ng-container>

      <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Estoque</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">{{ element.estoque }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="body__table__th">Ações</th>
        <td mat-cell *matCellDef="let element" class="body__table__td">
          <!-- Ações de editar e deletar permanecem as mesmas -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="15"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </section>
</section>
